--- name:default
# General configuration values to run the task
filter_configuration:
  source_frame_name: 'imu' # transformer names. No transformation convention
  target_frame_name: 'world_osg' # transformer names. No transformation convention
  use_samples_as_theoretical_gravity: true
  use_inclinometers: true
  use_magnetometers: false
  initial_alignment_samples: 750 # 150000 # 20 minute(s) initial alignment. IMU rate is 125Hz. Set it to 7500 for 1 minute.
  correction_frequency: 1.0

use_input_bias: true
biasgyro: [-0.000448614,-4.24293e-05,-4.15614e-05]
biasacc: [-5.07971e-07,-3.98021e-07,0]
init_heading: 140.0

--- name:calibration
# General configuration values to run the task
filter_configuration:
  source_frame_name: 'imu' # transformer names. No transformation convention
  target_frame_name: 'world_osg' # transformer names. No transformation convention
  use_samples_as_theoretical_gravity: true
  use_inclinometers: true
  use_magnetometers: false
  initial_alignment_samples: 150000 # 150000 # 20 minute(s) initial alignment. IMU rate is 125Hz. Set it to 7500 for 1 minute.
  correction_frequency: 1.0
use_input_bias: false
init_heading: 140.0

    
###      ###     ###
###     rover    ###
###      ###     ###

--- name:exoter
# IMU port in ExoTer
port: '/dev/exoter-imu'
revision: :REV_D
timeout: 0.01 #in seconds
use_filter: true

--- name:HDPR
# IMU port in ExoTer
port: '/dev/hdpr-imu'
revision: :REV_D
timeout: 0.008 #in seconds
use_filter: true

###      ###     ###
###   location   ###
###      ###     ###

--- name:ESTEC
# Localization properties related to the geographic place (i.e.: latitude, longitude, magnetic declination).
location:
  latitude: 0.911367 #52deg 13min 03sec NORTH
  longitude: 0.07709999 # 4deg 25 min 03 sec EAST
  altitude: 0.0
  magnetic_declination: 0.006690428 #0 deg 23 min EAST
  magnetic_declination_mode: :EAST
  dip_angle: 0.00663

--- name:SEROM
# Localization properties related to the geographic place (i.e.: latitude, longitude, magnetic declination).
location:
  latitude: 0.7563039873
  longitude: 0.022534499
  altitude: 150.0
  magnetic_declination:  0.006690428
  magnetic_declination_mode: :EAST
  dip_angle: 0.00663

--- name:Bremen
# Localization properties related to the geographic place (i.e.: latitude, longitude, magnetic declination).
location:
  latitude: 0.926478944
  longitude: 0.153588974
  altitude: 12.0
  magnetic_declination: 0.023561944
  magnetic_declination_mode: :EAST
  dip_angle: 1.187696556

--- name:Tenerife
# Localization properties related to the geographic place (i.e.: latitude, longitude, magnetic declination).
location:
  latitude: 0.49330924965399997051
  longitude: -0.289517607421
  altitude: 2296.0
  magnetic_declination: -0.09128072
  magnetic_declination_mode: :WEST
  dip_angle: 1.187696556

--- name:DLR-Oberpfaffenhofen
# Localization properties related to the geographic place (i.e.: latitude, longitude, magnetic declination).
location:
  latitude: 0.83923808 # 48.0848 NORTH
  longitude: 0.196881866 # 11.2805 EAST
  altitude: 581 #meters
  magnetic_declination: 0.0471238898  #2.70 deg EAST
  magnetic_declination_mode: :EAST
  dip_angle: 0.00663

###      ###     ###
### sensor model ###
###      ###     ###

--- name:stim300_10g_exoter
# Adaptive estimation of external acceleration.
adaptive_config_acc:
  M1: 5
  M2: 5
  gamma: 0.002

# Adaptive estimation of external inclinometers.
adaptive_config_inc:
  M1: 10
  M2: 2
  gamma: 0.003

# Inertial Sensors property.
accelerometer_noise:
  bandwidth: 33.0
  biasoffset:
    data:
    - 0.0
    - 0.0
    - 0.0
  randomwalk:
    data:
    - 0.0009531720
    - 0.001048870
    - 0.001022390
  raterandomwalk:
    data:
    - 1.434889e-05
    - 9.549511e-06
    - 1.436321e-05
  biasinstability:
    data:
    - 0.0005563053
    - 0.0006042829
    - 0.0006206795
  resolution:
    data:
    - 0.005886 #0.6mg
    - 0.005886 #0.6mg
    - 0.005886 #0.6mg

 # Inertial Sensors property.
gyroscope_noise:
  bandwidth: 33.0
  biasoffset:
    data:
    - 0.0
    - 0.0
    - 0.0
  randomwalk:
    data:
    - 4.655430e-05
    - 4.384513e-05
    - 4.298269e-05
  raterandomwalk:
    data:
    - 2.924086e-07
    - 2.591558e-07
    - 5.058095e-08
  biasinstability:
    data:
    - 7.170674e-06
    - 7.549352e-06
    - 7.530615e-06
  resolution:
    data:
    - 0.0
    - 0.0
    - 0.0

## Inclinometers Sensors property.
inclinometer_noise:
  bandwidth: 16.0 #Hertz
  biasoffset:
    data:
    - 0.0
    - 0.0
    - 0.0
  randomwalk:
    data:
    - 0.005019287
    - 0.005019287
    - 0.005019287
  raterandomwalk:
    data:
    - 0.0
    - 0.0
    - 0.0
  biasinstability:
    data:
    - 0.008292219
    - 0.008160451
    - 0.00846485
  resolution:
    data:
    - 0.002
    - 0.002
    - 0.002

--- name:stim300_10g
# Adaptive estimation of external acceleration.
adaptive_config_acc:
  M1: 5
  M2: 500
  gamma: 0.0062

# Adaptive estimation of external inclinometers.
adaptive_config_inc:
  M1: 5
  M2: 350
  gamma: 0.00527

# Accelerometers Sensors property.
accelerometer_noise:
  bandwidth: 16.0 #Hertz
  biasoffset:
    data:
    - 0.0
    - 0.0
    - 0.0
  randomwalk:
    data:
    - 0.00150 #0.0009858879
    - 0.00150 #0.001097635
    - 0.00150 #0.001070773
  raterandomwalk:
    data:
    - 0.0
    - 0.0
    - 0.0
  biasinstability:
    data:
    - 0.0005639343
    - 0.0006412585
    - 0.0005866994
  resolution:
    data:
    - 0.005886 #0.6mg
    - 0.005886 #0.6mg
    - 0.005886 #0.6mg

## Gyroscopes Sensors property.
gyroscope_noise:
  bandwidth: 16.0 #Hertz
  biasoffset:
    data:
    - 0.0 #3.1396251683848041e-05
    - 0.0 #0.0004564014580275626
    - 0.0 #-0.00045970399412453427
  randomwalk:
    data:
    - 7.0e-05 #4.320343e-05
    - 7.0e-05 #4.175001e-05
    - 7.0e-05 #4.060973e-05
  raterandomwalk:
    data:
    - 0.0
    - 0.0
    - 0.0
  biasinstability:
    data:
    - 6.882191e-06
    - 8.479295e-06
    - 5.591609e-06
  resolution:
    data:
    - 0.0
    - 0.0
    - 0.0

## Inclinometers Sensors property.
inclinometer_noise:
  bandwidth: 16.0 #Hertz
  biasoffset:
    data:
    - 0.0
    - 0.0
    - 0.0
  randomwalk:
    data:
    - 0.0050
    - 0.0050
    - 0.0050
  raterandomwalk:
    data:
    - 0.0
    - 0.0
    - 0.0
  biasinstability:
    data:
    - 0.0005639343
    - 0.0006412585
    - 0.0005866994
  resolution:
    data:
    - 0.002 #0.6mg
    - 0.002 #0.6mg
    - 0.002 #0.6mg


--- name:stim300_5g
# Adaptive estimation of external acceleration.
adaptive_config_acc:
  M1: 5
  M2: 5
  gamma: 0.001

# Adaptive estimation of external inclinometers.
adaptive_config_inc:
  M1: 10
  M2: 2
  gamma: 0.003

# Accelerometers Sensors property.
accelerometer_noise:
  bandwidth: 33.0 #Hertz
  biasoffset:
    data:
    - 0.0
    - 0.0
    - 0.0
  randomwalk:
    data:
    - 0.0005420144
    - 0.0005131682
    - 0.0004908665
  raterandomwalk:
    data:
    - 0.0
    - 0.0
    - 0.0
  biasinstability:
    data:
    - 0.0004368486
    - 0.0003441604
    - 0.0003097561
  resolution:
    data:
    - 0.0024525 #0.25mg
    - 0.0024525 #0.25mg
    - 0.0024525 #0.25mg

# Gyroscopes Sensors property.
gyroscope_noise:
  bandwidth: 33.0 #Hertz
  biasoffset:
    data:
    - 0.0
    - 0.0
    - 0.0
  randomwalk:
    data:
    - 3.320343e-05
    - 4.455001e-05
    - 4.060973e-05
  raterandomwalk:
    data:
    - 0.0
    - 0.0
    - 0.0
  biasinstability:
    data:
    - 7.05e-06
    - 4.82e-06
    - 6.36e-06
  resolution:
    data:
    - 0.0
    - 0.0
    - 0.0

# Inclinometers Sensors property.
inclinometer_noise:
  bandwidth: 16.0 #Hertz
  biasoffset:
    data:
    - 0.0
    - 0.0
    - 0.0
  randomwalk:
    data:
    - 0.005019287
    - 0.005019287
    - 0.005019287
  raterandomwalk:
    data:
    - 0.0
    - 0.0
    - 0.0
  biasinstability:
    data:
    - 0.008292219
    - 0.008160451
    - 0.00846485
  resolution:
    data:
    - 0.002
    - 0.002
    - 0.002


