--- name:default
loadFilename: '/media/heimdal/Dataset1/Maps/minas_densified_point_cloud_part_1.ply'
saveFilename: '/media/heimdal/Dataset1/Maps/minas_densified_point_cloud_part_1.pcd'
savePreprocessedCloud: true
smoothCloud: true
sorMeanK: 50
sorStdMultiplier: 0.1
diffDistanceRatio: 0.5
cloudYawOffset: 0.0
#cloudYawOffset: -1.5707
cloudEastingOffset: 344178.0
cloudNorthingOffset: 3127579.0
cloudElevationOffset: 2442.0
robotEastingOffset: 344043.8
robotNorthingOffset: 3127408.3
robotElevationOffset: 2543.0
# robotEastingOffset: 344043.0
# robotNorthingOffset: 3127403.0
# robotElevationOffset: 2296.0

--- name:prepared
loadFilename: '/media/heimdal/Dataset1/Maps/minas_densified_point_cloud_part_1.pcd'
preprocessingEnabled: false

--- name:ga_slam
gpsRefFrame: true
cloudYawOffset: 0

--- name:solving_occlusion
gpsRefFrame: true
cloudYawOffset: 0
diffDistanceRatio: 0.01 # we want to translate the global map at every time-step so we get accurate ground-truth
smoothCloud: false

